@font-face{
	font-family: ambra;
	src: url(fonts/ambra.ttf);
}

* {
	padding: 0;
	margin: 0;
}

.navbar-nav .nav-link {
    margin-right: 3em;
}
.navbar-nav .bi {
	margin-right: 1em;
}

.icon-navbar li i {
	font-size: 25px;
	cursor: pointer;
}

.nav-item .active {
	text-decoration: underline;
}


.nav-item .nav-link:hover {
	text-decoration: underline #a06ed0;

	color: white;
}

.social-media-footer {
	display: flex;
	justify-content: center;
	margin-left: 1em;

}
.social-media-footer li a i{
	font-size: 25px;
	margin-right: 1em;
	color: white;


}

.social-media-footer li a i:hover{
	color: #d0bfeb;
}

 .nav-header{
 	display: flex;
 	margin-right: 20px;
 	margin-top: 0.8em;
 	display: none;

 }

.img-gallery{
	overflow: hidden;

}
.img-gallery img{
	transition: 3s;
	
}
.img-gallery img:hover{

	transform: scale(1.5);
	transition: 3s;
}

.landing-mys{
	font-family: ambra;
	color:  black;
}

 .logo-landing-center{
 	position: relative;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	bottom: 1em;
 }

.about-us {
	text-align: justify;
}
.btn-cart {
  opacity: 0;


  transition-duration: 1s;
}

.position-relative:hover .btn-cart {
  opacity: 100%;
 
  transition-duration: 1s;
}

.item-select {
	padding-top: 150px;
	padding-bottom: 150px;
}


@media only screen and (max-width: 600px) {
  .icon-navbar{
  	display: none;
  }
   .nav-header{
 	display: flex;
 	margin-top: 0.8em;

 }
 .nav-header li i {
 	color: white;
 	margin-right: 2em;
 }
 .nav-header li {
 	list-style: none;

 }
 .logo-landing-center img{
 	display: none;
 	margin:0;
 }

  .logo-landing-center{
 	position: relative;
 	bottom: 0;
 }
}

@media only screen and (max-width: 768px) {
  .icon-navbar{
  	display: none;
  }
}
